<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico " />
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    <script src="/static/jquery-2.1.4/jquery.min.js" charset="utf-8"></script>
    <script src="/static/layui/layui.all.js"></script>
</head>
<body>
<form class="layui-form" style="margin-top: 30px;">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="userName" lay-verify="required"
                   lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入" autocomplete="off" class="layui-input" th:value="${user.getUserName()}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入" class="layui-input" th:value="${user.getUserMobile()}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <input name="userHeadImg" type="hidden" th:value="${user.getUserHeadImg()}">
        <div class="layui-input-inline">
            <div class="layui-upload-drag" id="img">
                <i class="layui-icon"></i>
                <p th:text="${user.getUserHeadImg()}">点击上传，或将文件拖拽到此处</p>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" lay-submit lay-filter="save" class="layui-btn">保存</button>
            <button type="button" class="layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>
</body>
</html>
<script type="text/javascript">
    layui.use(['table','laypage','layer','element'],function () {
        var  layer = layui.layer
            ,elem = layui.element;

        elem.on('save',function (data) {
            layer.closeAll('iframe');
        })


    })


</script>