<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户详情</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico " />
    <script src="/static/layui/layui.all.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-header">用户ID</div>
            <div class="layui-card-body">
                <p th:text="${user.getId()}"></p>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">头像</div>
            <div class="layui-card-body">
                <p th:text="${user.getUserHeadImg()}"></p>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">手机号</div>
            <div class="layui-card-body">
                <p th:text="${user.getUserMobile()}"></p>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">创建时间</div>
            <div class="layui-card-body">
                <p th:text="${#strings.isEmpty(user.createTime)}?'':${#dates.format(user.createTime,'yyyy-MM-dd')}"></p>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">修改时间</div>
            <div class="layui-card-body">
                <p th:text="${#strings.isEmpty(user.updateTime)}?'':${#dates.format(user.getCreateTime(),'yyyy-MM-dd')}"></p>
            </div>
        </div>
    </div>
</body>
</html>