<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>9number</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico " />
    <link rel="stylesheet" href="/static/layui/css/layui.css"  media="all">
    <script src="/static/jquery-2.1.4/jquery.min.js" charset="utf-8"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 9號</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
<<<<<<< HEAD
            <li class="layui-nav-item logout"><a href="#">退了</a></li>
=======
            <li class="layui-nav-item"><a href="/layOut">退出</a></li>
>>>>>>> master
        </ul>
    </div>

    <div id="mainmenu" class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <span class="isshow"><a id="isshow" class="layui-icon" style=""></a></span>
            <ul class="layui-nav layui-nav-tree" lay-filter="treenav" th:each="menu:${allMenus}">
                <li class="layui-nav-item layui-nav-itemed">
                    <i th:class="${menu.getIcon()}" style="float: left;padding-left: 10px;font-size: 25px;"></i>
                    <a style="font-size: 17px;" class="" href="javascript:;" title="系统管理" th:text="${menu.getTitle()}" ></a>
                    <dl class="layui-nav-child" th:each="child:${menu.getChildren()}">
                        <dd>
                            <i th:class="${child.getIcon()}" style="float: left;padding-left: 40px;font-size: 17px;"></i>
                            <a th:data-id="${child.getId()}" th:data-title="${child.getTitle()}" th:data-url="${child.getHref()}" href="javascript:;" th:text="${child.getTitle()}"></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <div style="padding: 15px;">
            <div class="layui-tab" lay-filter="menu_tab" lay-allowclose="true">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="/static/layui/layui.all.js"></script>
<script type="text/javascript">
    layui.use(['element'], function(){
        var $ = layui.$;
        var layer = layui.layer;
        var element = layui.element;

        $(".layui-nav-child a").click(function () {
            var dataid = $(this);
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                var isData = false;
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                        isData = true;
                    }
                });
                if (isData == false) {
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            active.tabChange(dataid.attr("data-id"));
        });

        //tab操作
        var active = {
            tabAdd: function (url, id, title) {
                //新增一个Tab项
                element.tabAdd('menu_tab', {
                    title: title //用于演示
                    , content: '<iframe data-frameid="' + id + '" frameborder="0" name="content" width="100%" src="' + url + '?sid='+localStorage.getItem("sid") + '"></iframe>'
                    , id: id //实际使用一般是规定好的id，这里以时间戳模拟下
                })
                FrameWH();//计算框架高度
            }
            , tabChange: function (id) {
                location.hash = 'menu_tab='+ id;
                var layid = location.hash.replace(/^#menu_tab=/, '');
                //切换到指定Tab项
                element.tabChange('menu_tab', layid); //切换到：用户管理
                $("iframe[data-frameid='" + id + "']").attr("src", $("iframe[data-frameid='" + id + "']").attr("src"))//切换后刷新框架
            }
            , tabDelete: function (id) {
                element.tabDelete("menu_tab", id);//删除
            }
            , tabDeleteAll: function (ids) {//删除所有
                $.each(ids, function (i, item) {
                    element.tabDelete("menu_tab", item);
                })
            }
        };
        //切换选项卡
        // 获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
        // 假设当前地址为：http://a.com#test1=222，那么选项卡会自动切换到“发送消息”这一项
        // 监听Tab切换，以改变地址hash值
        element.on('tab(menu_tab)',function (data) {
            var elem = $(this);
            location.hash = 'tab='+ elem.context.getAttribute("lay-id");
            var layid = location.hash.replace(/^#menu_tab=/, '');
            active.tabChange(layid);
        });
        function FrameWH() {
            var h = $(window).height() - 41 - 10 - 35 - 10 - 44 - 10;
            $("iframe").css("height", h + "px");
        }

        $(window).resize(function () {
            FrameWH();
        });

        $(".logout").on('click',function () {
            layer.alert('确定退出吗?', {
                btn: ['确定', '取消'],//可以无限个按钮
                skin: 'layui-layer-molv',
                closeBtn: 1
                ,yes:function (index, layero) {
                    console.log(layero);
                    $.ajax({
                        url:'/layOut',
                        type:'get',
                        dataType:'json',
                        data:{"sid":localStorage.getItem("sid")},
                        success:function (data) {
                            if (data.result === true){
                                location.href='/console'
                            }
                        }
                    });
                    layer.close(index)
                },
                btn2:function (index) {
                    layer.close(index)
                }
            })
        });
    });
</script>

